@{
    ViewData["Title"] = "General Info";
}
<h1>@ViewData["Title"]</h1>
<hr />
<div class="inner-container">
    <div class="author_photo" >
        <img src="~/img/MT_for_general_Info.jpg" width="324px" height="432px" />
    </div>
<div class="text-right">

<strong>Matthew Abram Groening</strong> <p>(/ˈɡreɪnɪŋ/ GRAY-ning; born February 15, 1954) is an American cartoonist, writer, producer, and animator. He is the creator of the comic strip Life in Hell (1977–2012) and the television series The Simpsons (1989–present), Futurama (1999–2003, 2008–2013, 2023–present), and Disenchantment (2018–2023). The Simpsons is the longest-running U.S. primetime-television series in history and the longest-running U.S. animated series and sitcom.</p>

<p>Groening made his first professional cartoon sale of Life in Hell to the avant-garde magazine Wet in 1978. At its peak, the cartoon was carried in 250 weekly newspapers. Life in Hell caught the attention of American producer James L. Brooks. In 1985, Brooks contacted Groening about adapting Life in Hell for animated sequences for the Fox variety show The Tracey Ullman Show. Fearing the loss of ownership rights, Groening created a new set of characters, the Simpson family. The shorts were spun off into their own series, The Simpsons, which has since aired 750 episodes.</p>

<p>In 1997, Groening and former Simpsons writer David X. Cohen developed Futurama, an animated series about life in the year 3000, which premiered in 1999, running for four years on Fox, then picked up in 2008 by Comedy Central for another 5 years, finally being picked up by Hulu for another revival in 2023. In 2016, Groening developed a new series for Netflix, Disenchantment, which premiered in August 2018.</p>

<p>Groening has won 13 Primetime Emmy Awards, 11 for The Simpsons and 2 for Futurama, and a British Comedy Award for "outstanding contribution to comedy" in 2004. In 2002, he won the National Cartoonist Society Reuben Award for his work on Life in Hell. He received a star on the Hollywood Walk of Fame on February 14, 2012.</p>
</div>
</div>


