@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hi</h1>
    <p>This site will tell u about creator of Simsons, Futurama and other interesting projects <a href="https://en.wikipedia.org/wiki/Matt_Groening">Matt Groening</a>.</p>
</div>
<div class="author_photo">
    <img src="img/matt_groening.jpg" width="324px" height="432px"/>
</div>    
