html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.author_photo
{
    display:flex;
    justify-content:center;
    margin: 10px;

}
.inner-container
{
    display:flex;
    justify-content:space-between;
    
}
.folder-conteiner {
    display: flex;

}
.folder 
{
    display:flex;
    justify-content: center; /* Горизонтальне центрування */
    align-items: center;
    width: 160px;
    height: 160px;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px;
    background-image: url(/img/icons8.png);
}
.photoes img
{
   margin:10px;
}
